@model MedTracker.Web.Areas.Admin.ViewModels.AdminModels.SpecializationViewModel

<link rel="stylesheet" href="~/css/adminIndex.css">
<div class="wrapper">
    <div class="sidebar">
        <h2>Sidebar</h2>
        <ul>

            <li><a asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i>Home Page</a></li>
            <li><a asp-area="Admin" asp-controller="Admin" asp-action="ApproveDoctors"><i class="fas fa-user"></i>Pending Doctor Profiles</a></li>
            <li><a asp-area="Admin" asp-controller="Admin" asp-action="Specializations"><i class="fas fa-address-card"></i>Doctor Specializations</a></li>
            <li><a href="#"><i class="fas fa-project-diagram"></i></a></li>
            <li><a href="#"><i class="fas fa-blog"></i></a></li>
            <li><a href="#"><i class="fas fa-address-book"></i></a></li>
            <li><a href="#"><i class="fas fa-map-pin"></i></a></li>
        </ul>

    </div>

    <div class="main_content">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link"asp-area="Admin" asp-controller="Admin" asp-action="AddSpecialization">Add New Specialization<span class="sr-only"></span></a>
                    </li>
              

                </ul>
             
            </div>
            </nav>
        <div class="MyContainer">



            <table class="table table-bordered">
                <tr>
                    <th>
                        Specialization Id:
                    </th>
                    <th>
                        Specialization Name:
                    </th>
                    <th>
                      Remove Specialization 
                    </th>
                </tr>

                @if (Model.Specializations is null)
                {

                    <tr>
                        <td></td>
                  
                        <td>
                            <h1>No results</h1>
                        </td>
                    </tr>

                }
                else
                {
                    @foreach (var spec in Model.Specializations)
                    {

                        <tr>
                            <td>
                                @spec.Id
                            </td>
                            <td>
                                @spec.Name
                            </td>
                           
                            <td >
                           
                                <a class="btn btn-outline-danger" name="specRemoveButton">
                                    <input type="hidden" value="@spec.Id" id="specId">
                                    Remove
                                </a>
                            </td>
                        </tr>

                    }
                }
            </table>


            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">

                    @if (!Model.PreviousDisabled)
                    {
                        <a href="~/Admin/Admin/Specializations?page=@Model.PreviousPage" class="float-left btn btn-outline-info my-2 my-sm-0" style="margin-right:1%;">Previous Page</a>
                    }
                    @if (Model.MaxPage != 1 && Model.MaxPage != 0)
                    {

                        @for (int i = 1; i <= Model.MaxPage; i++)
                        {
                            @if (i > 9)
                            {
                                <li class="page-item">
                                    <a class="page-link">...</a>
                                </li>
                                <li class="page-item">
                                    <a href="~/Admin/Admin/Specializations?page=@Model.MaxPage" class="page-link">@Model.MaxPage</a>
                                </li>
                                break;
                            }
                            <li class="page-item">
                                <a href="~/Admin/Admin/Specializations?page=@i" class="page-link">@i</a>
                            </li>
                        }

                    }
                    @if (!Model.NextDisabled)
                    {

                        <a href="~/Admin/Admin/Specializations?page=@Model.NextPage" class="float-right btn btn-outline-info my-2 my-sm-0" style="margin-left:1%;">Next Page</a>
                    }
                </ul>
            </nav>




        </div>

        </div>
</div>